@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";
@theme {
  --font-inter: "Inter", sans-serif;
}
:root {
  --bfcm-bg: #f0fdf4;
  --bfcm-border: #22c55e;
  --bfcm-text: #166534;
  --bfcm-icon: #22c55e;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@layer components {
  .nav-link {
    @apply relative font-medium text-[#50000b];
  }

  .nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6px; /* 👈 cách chữ 1 chút */
    width: 100%;
    height: 2px;
    background-color: #50000b;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }

  .nav-link:hover::after {
    transform: translateX(-50%) scaleX(1);
  }
}

/* background: linear-gradient(109deg, #e3c4ac, #e8ad96 80%, #ee957f) */
.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #b11226;
  border-radius: 999px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
